<!DOCTYPE html>
<html>
    <head>
        <!-- Encoding -->
        <meta charset="UTF-8">
        <!-- Normalizer -->
        <link rel="stylesheet" href="style/normalize.css"/>
        <!-- Style -->
        <link rel="stylesheet" href="style/style.css"/>
        <!-- Virtual mounted path from server -->
        <script src="/jquery/jquery.js"></script>
        <!-- Custom script here -->
        <script src="js/script.js"></script>
        <title>
            Filckr drag drop
        </title>
    </head>
    <body>

        <section id="mainwrapper">
            <section id="searchblock">
                <input type="text" name="fname">
                <input id="search" type="submit" value="Search">
            </section>
            <section id="dragdropsection">
                <h1>
                    Recognized pictures
                </h1>
                <div id="pictureblock">
                    
                </div>
                <section id="basketsection">
                        <h2>
                            Basket Section
                        </h2>
                        <div>
                            <input type="submit" value="1">
                            <input type="submit" value="2">
                        </div>
                </section>
            </section>
            <section id="dragdropsection">
                    <h1>
                        Group
                    </h1>
                    
            </section>
        </section>
    
    </body>
</html>
