<!DOCTYPE html>
<html>
    <head>
        <!-- Encoding -->
        <meta charset="UTF-8">
        <!-- Normalizer -->
        <link rel="stylesheet" href="style/normalize.css"/>
        <!-- Style -->
        <link rel="stylesheet" href="style/style.css"/>
        <!-- Virtual mounted path from server -->
        <script src="/jquery/jquery.js"></script>
        <!-- Custom script here -->
        <script src="js/script.js"></script>
        <title>
            Filckr drag drop
        </title>
    </head>
    <body>

        <section id="mainwrapper">
            <h1>
                hi
            </h1>
        </section>
    
    </body>
</html>
